@media (prefers-reduced-motion: no-preference) {
    .Header-glow {
      animation: Header-glow infinite 0.8s linear;
    }
  }
  @keyframes Header-glow {
    0% {
      opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1
    }
  }