@media (prefers-reduced-motion: no-preference) {
    .Hover-glow {
      animation: Hover-glow infinite 0.8s linear;
    }
  }
  @keyframes Hover-glow {
    0% {
      background-color: #2E2929; box-shadow: 0 0 5px #2E2929;
    }
    50% {
      background-color: #3E3E3E; box-shadow: 0 0 5px #3E3E3E;
    }
    100% {
      background-color: #2E2929; box-shadow: 0 0 5px #2E2929;
    }
  }