  .animation1 {
    background-repeat: repeat;
    animation: animation1 infinite 150s linear;
  }

  @keyframes animation1 {
    0% {
      transform: scale(4.5, 2) perspective(1px) rotate(100deg);
    }
    50% {
      transform: scale(4.5, 2) perspective(1px) rotate(155deg);
    }
    100% {
      transform: scale(4.5, 2) perspective(1px) rotate(100deg);
    }
  }
