.starbend {
  background-repeat: repeat;
  background-position: center;
  animation: starbend infinite 300s linear;
}

@keyframes starbend {
  0% {
    transform: scale(1, 1) perspective(1px);
  }
  25% {
    transform: scale(1, 1.5) perspective(1px);
  }
  50% {
    transform: scale(1.5, 1) perspective(1px);
  }
  75% {
    transform: scale(1, 1.5) perspective(1px);
  }
  100% {
    transform: scale(1, 1) perspective(1px);
  }
}

.blackhole {
  background-repeat: no-repeat;
  animation: blackhole infinite 60000s linear;
  background-position: center;
}

@keyframes blackhole {
  0% {
    transform: scale(2, 0.5) perspective(1px) rotate(0deg);
  }
  50% {
    transform: scale(2, 0.5) perspective(1px) rotate(-360000deg);
  }
  100% {
    transform: scale(2, 0.5) perspective(1px) rotate(0deg);
  }
}

.blackhole2 {
  background-repeat: no-repeat;
  animation: blackhole2 infinite 30000s linear;
  background-position: center;
  margin-top: 1vh;
  filter: opacity(0.55);
}

@keyframes blackhole2 {
  0% {
    transform: scale(1.8, 0.65) perspective(1px) rotate(0deg);
  }
  50% {
    transform: scale(1.8, 0.65) perspective(1px) rotate(-360000deg);
  }
  100% {
    transform: scale(1.8, 0.65) perspective(1px) rotate(0deg);
  }
}