@media (prefers-reduced-motion: no-preference) {
  .App-splat-to-mobile {
    animation: App-splat-to-mobile infinite 5s linear;
  }
}
@keyframes App-splat-to-mobile {
  0% {
    filter: grayscale(0%);
  }
  25% {
    filter: grayscale(25%);
  }
  50% {
    filter: grayscale(75%);
  }
  75% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}