  .animation1 {
    background-repeat: repeat;
    animation: animation1 infinite 75s linear ;
  }

@keyframes animation1 {
  0% {
    transform: scaleY(1) perspective(1px)
  }
  50%{
    transform: scaleY(1.2) perspective(1px)
  }
  100% {
    transform:scaleY(1) perspective(1px)
  }
}

  .App-splat-to-mobile {
    animation: App-splat-to-mobile infinite 5s linear;
  }

@keyframes App-splat-to-mobile {
  0% {
    filter: grayscale(0%);
  }
  25% {
    filter: grayscale(25%);
  }
  50% {
    filter: grayscale(100%);
  }
  75% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}

