  .animation1 {
    background-repeat: repeat;
    animation: animation1 infinite 350s linear ;
  }

@keyframes animation1 {
  0% {
    transform: scale(4.5,2) perspective(1px) rotate(135deg);
    filter: grayscale(0.5)
  }
  50%{
    transform: scale(4.5,2) perspective(1px) rotate(240deg);
    filter: grayscale(0.5)
  }
  100% {
    transform:scale(4.5,2) perspective(1px) rotate(135deg);
    filter: grayscale(0.5)
  }
}

  .App-splat-to-mobile {
    animation: App-splat-to-mobile infinite 5s linear;
  }

@keyframes App-splat-to-mobile {
  0% {
    filter: grayscale(0.5);
  }
  50% {
    filter: grayscale(.9);
  }
  100% {
    filter: grayscale(0.6);
  }
}

