  .animation1 {
    background-repeat: repeat;
    animation: animation1 infinite 1050s both ;
  }

@keyframes animation1 {
  0% {
    transform: scale(7.5,3) perspective(1px) rotate(-140deg);
    filter: grayscale(0.3)
  }
  50%{
    transform: scale(7.5,3) perspective(1px) rotate(320deg);
    filter: grayscale(0.5)
  }
  100% {
    transform:scale(7.5,3) perspective(1px) rotate(-140deg);
    filter: grayscale(0.3)
  }
}

  .App-splat-to-mobile {
    animation: App-splat-to-mobile infinite 50s linear;
  }

@keyframes App-splat-to-mobile {
  0% {
    filter: grayscale(0%);
  }
  25% {
    filter: grayscale(25%);
  }
  50% {
    filter: grayscale(100%);
  }
  75% {
    filter: grayscale(25%);
  }
  100% {
    filter: grayscale(0%);
  }
}

