.defaultMouseOver {
    color: white !important;
    transition: color 0.2s ease-in-out;
}

.defaultMouseOver:hover {
    color: #4fc9c9 !important;
}
.defaultImageNudge {
    outline: solid 1px rgb(79, 201, 201, 0.3);
    transition: outline 0.2s ease-in-out;
}
.defaultImageNudge:hover {
    outline: solid 1px #4fc9c9;
}

.defaultButton {
    color: white;
    background-color: rgb(79, 201, 201, 0.1) !important;
    transition: background-color 0.2s ease-in-out;
}
.defaultButton:hover {
    cursor:pointer;
    background-color: rgb(79, 201, 201, 0.4) !important;
}

.brandMouseOver {
    color: #4fc9c9 !important;
    transition: color 0.2s ease-in-out;
}
.brandMouseOver:hover {
    color: white !important;
}

ul {
    text-align: left;
    list-style-position: inside;
}