.defaultMouseOver {
    color: white !important;
    transition: color 0.2s ease-in-out;
}

.defaultMouseOver:hover {
    color: #4fc9c9 !important;
}
.defaultImageNudge {
    border: solid 1px rgb(79, 201, 201, 0.3);
    transition: border 0.2s ease-in-out;
}
.defaultImageNudge:hover {
    border: solid 1px #4fc9c9;
}

.brandMouseOver {
    color: #4fc9c9 !important;
    transition: color 0.2s ease-in-out;
}
.brandMouseOver:hover {
    color: white !important;
}

ul {
    text-align: left;
    list-style-position: inside;
}